.basket-item-image {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    transition: 300ms all ease;
    border-radius: 10px;
}
.text_price {
    font-size: 18px;
    font-weight: bold;
}
.basket-item-block-image {
    position: relative;
    padding: 6px;
    min-width: 40px;
    max-width: 113px;
    border: 1.205px solid #E5E5E5;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    margin-right: 15px;
    height: fit-content;
}

.border_prod .d-flex  .form-check-input:checked, .border_prod .d-flex  .form-check-input:focus, .border_prod  .d-flex
.form-check-input:active,
.border_prod .d-flex .form-check-input {
    background-color: #f0f0f0;
}

.border_prod  > .d-flex > .form-check > input.check_input {
    border: 1px solid #636363 !important;
    border-radius: 0 !important;
}

.example-1 input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    width: 0;
}

.box_product .card_element, .box_product  .product-item-amount-field-contain input[type="number"] {
    background-color: white;
    font-size: 11px;
    padding: 5px !important;
    width: 30px;
}

.example-1 .label {
    display: flex;
    flex-direction: row;
    transition: border 300ms ease;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
}

.example-1 .label i {
    display: block;
    font-size: 23px;
    transform: rotate(270deg);
    margin-right: 9px;
}

.example-1 .label i, .example-1 .label .title {
    color: #000;
    transition: 200ms color
}

.border_prod > .d-flex > .form-check {
    display: flex;
    align-items: center;
}

.border_prod >.d-flex > .form-check .form-check-input {
    width: 20px;
    height: 20px;
}

.box_product {
    max-height: 535px;
    overflow: auto;
}

.border_prod {
    border-top: 1px solid #E5E5E5;
    padding: 15px 0;
}

.text_preview {
    font-size: 13px;
    color: black;
    font-weight: 600;
}

@media (max-width: 580px) {

    .basket-item-block-image {
        margin-top: 10px;
        margin-bottom: 15px;
        padding-right: 0;
        max-width: 100%;
        width: 100%;
    }
    .text_price{
        font-size: 14px;
    }
    .basket-item-image {
        margin: 10px auto 15px;
        padding-right: 0;
        max-width: 230px;
        max-height: 400px;
        width: auto;
        height: auto;
    }
}
