.main .h1_ordermake {
    max-width: 940px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
}

.noactive,
.noactiveAddress {
    display: none !important;
}

.summary_items.active {
    display: block !important;
}

.summary .summary_item.summary_item_discount {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
}

.summary .summary_item {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
}

.summary .summary_item .summary_item_right {
    font-size: 24px;
    font-weight: 600;
}

.summary .summary_item.summary_item_discount .summary_item_right,
.summary .summary_item.summary_item_total_amount .summary_item_right {
    font-size: 15px;
    font-weight: 500;
}

.summary .summary_item.summary_item_discount .summary_item_right {
    color: #2fb457;
    padding: 0 5px 5px 12px;
    position: relative;
}

.summary .summary_item.summary_item_discount .summary_item_right::before {
    content: "-";
    display: inline-block;
    text-align: center;
    font-size: 15px;
    position: absolute;
    width: 12px;
    left: 0;
    font-weight: 600;
    color: #2fb457;
}

.summary .summary_item::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    border-bottom: 1px dotted #808080;
    position: absolute;
    bottom: 8px;
    left: 0;
}

.summary .summary_item .summary_item_left {
    padding: 0 2px 5px 5px;
    background-color: #fff;
}

.summary .summary_item .summary_item_right {
    padding: 0 5px 5px 2px;
    background-color: #fff;
}

.summary_item {
    display: flex;
    margin-bottom: 30px;
}

.error {
    border: 2px solid #ff0000;
}

.makeorder_content_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.makeorder_content_left {
    width: calc(100% - 340px);
    margin-right: 40px;
}

.makeorder_content_right {
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
}

.bx_ordercart_first {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bx_ordercart_second .bx_ordercart_first_left {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #808080;
}

.bx_ordercart_second .bx_ordercart_first_right {
    width: 35px;
    height: 30px;
}

.bx_ordercart_second .bx_ordercart_first_right i {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.bx_ordercart_second .bx_ordercart_first_right i::before {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #eef2f6;
    border-radius: 5px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    transition: 0.3s;
}

.bx_ordercart_second .bx_ordercart_first_right i {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5px;
}

.bx_ordercart_first .bx_ordercart_first_left {
    font-size: 18px;
    font-weight: 500;
}

.bx_ordercart_first .bx_ordercart_first_right a {
    font-size: 16px;
    color: #2796ff;
    border-bottom: 1px solid #2796ff;
}

.bx_ordercart_second {
    display: flex;
    margin-bottom: 30px;
    padding: 0 5px;
    cursor: pointer;
}

.bx_ordercart_second:hover .bx_ordercart_first_left {
    color: #000;
}

.bx_ordercart_second .bx_ordercart_first_right i::before {
    transform: rotate(-90deg);
}

.bx_ordercart_second.active .bx_ordercart_first_right i::before {
    transform: rotate(0deg);
}

.makeorder_content_left {
    margin-right: 40px;
}

.makeorder_content_wrap h4 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 5px;
}

.makeorder_content_wrap h5 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 0 5px 10px 5px;
}

@media(max-width:940px) {
    .makeorder_content_wrap {
        flex-direction: column;
    }
    .makeorder_content_left {
        width: 100%;
        margin-right: 0;
    }
    .makeorder_content_right {
        width: 100%;
    }
}

.section_complete_profile {
    display: none;
}

.wrap_props_order,
.wrap_props_order_other {
    display: flex;
    flex-wrap: wrap;
}

.text_props_order_other,
.ustanovka_info,
.podiem_calc_info {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px 5px 30px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    color: #808080;
}

.text_props_order_other::before,
.ustanovka_info::before,
.podiem_calc_info::before {
    content: "i";
    width: 20px;
    text-align: center;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #808080;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 5px;
    line-height: 20px;
    border-radius: 50%;
}

.props_order_other_check,
.props_order_other_fields {
    width: 100%;
}

.props_order_other_fields {
    display: flex;
    flex-wrap: wrap;
}

.bx_block_prop_item {
    margin: 5px;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.bx_block_prop_item .bx_block_prop:first-child {
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 400;
}

.block_COMMENT_DELIVERY,
.block_ADDRESS,
.block_LOCATION {
    width: calc(100% - 10px);
}

.block_DATE {
    width: calc(100% - 10px);
    margin: 30px 5px;
}

.block_DATE .bx_block_prop:first-child {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.block_PODIEZD,
.block_KV,
.block_DOM {
    width: calc(33% - 10px);
}

.block_PODIEM,
.block_USTANOVKA {
    width: 100%;
}

.block_LOCATION {
    margin-bottom: 10px;
}

.block_LOCATION .bx_description {
    font-size: 15px;
    color: #808080;
    padding: 5px;
    max-width: 450px;
}

@media(max-width:400px) {
    .block_FIO,
    .block_EMAIL,
    .block_PHONE,
    .block_COMPANY,
    .block_CONTACT_PERSON,
    .block_NAME_RECIPIENT,
    .block_PHONE_RECIPIENT {
        width: calc(100% - 10px);
    }
}

@media(max-width:660px) {
    .block_SERIA_NOMER {
        width: calc(100% - 10px);
    }
}

@media(max-width:350px) {
    .block_PODIEZD,
    .block_KV,
    .block_DOM {
        width: calc(50% - 10px);
    }
}

.summary_item img {
    max-width: 60px;
}

.summary_item .summary_item_right .name {
    font-size: 15px;
    color: #000;
}

.summary_item .summary_item_right {
    padding-left: 5px;
}

.summary_item .summary_item_right .quantity_row {
    font-size: 15px;
    color: #808080;
}

.summary_item .summary_item_right .complect_title {
    margin: 10px 0 5px 0;
    font-weight: 500;
}

.summary_item .summary_item_right .complect_item {
    padding-left: 10px;
}

.summary_item .summary_item_right .complect_item .complect_item_name {
    font-size: 15px;
    color: #000;
}

.summary_item .summary_item_right .complect_item .complect_item_quantity {
    font-size: 15px;
    color: #808080;
}

.bx_ordercart_order_added {
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px 5px 20px 5px;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.15);
}

.bx_ordercart_order_added h4 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 5px;
    margin-bottom: 0;
}

.personal_data {
    display: inline-block;
    margin: 20px 0 50px 0;
    font-size: 15px;
    padding: 5px;
    color: #808080;
}

.personal_data a {
    color: #808080;
    border-bottom: 1px solid #d3d3d3;
}

#order_form_div .sale_data-table.summary td {
    background: #fff !important;
}

.bx_ordercart .bx_ordercart_order_table_container {
    margin: 10px 0 !important;
}

#order_form_div {
    color: black;
    font-family: "Open Sans", sans-serif;
}

#order_form_div .sof-req {
    color: red;
    font-size: 10px;
}

#order_form_div .clear {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0px;
    line-height: 0px;
}

#order_form_div input[type="text"],
#order_form_div input[type="password"],
#order_form_div textarea {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    transition: 0.3s;
}

#order_form_div input:focus[type="text"] {
    border: 2px solid #999;
}

#order_form_div .section {
    margin: 30px 0;
}

#order_form_div .title {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #dcdfe2;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#order_form_div .title a {
    color: #2d739d;
    font-size: 12px;
    text-decoration: underline;
    margin-left: 10px;
    outline: none;
}

#order_form_div .title a:hover {
    text-decoration: none;
}

#order_form_div .label.left {
    box-sizing: border-box;
    margin: 5px;
    width: calc(50% - 10px);
    float: left;
}

.block_DELIVERY_TK_TYPE {
    width: 100%;
    margin: 0 0 30px 0 !important;
}

.block_DELIVERY_TK_TYPE div {
    height: 100%;
}

.block_DELIVERY_TK_TYPE label {
    height: 100%;
}

@media (max-width:550px) {
    .block_DELIVERY_TK_TYPE .bx_block_prop .label {
        width: calc(100% - 10px) !important;
    }
    .block_DELIVERY_TK_TYPE div {
        height: auto;
    }
    .block_DELIVERY_TK_TYPE label {
        height: auto;
    }
}

.block_DELIVERY_TK_TYPE .bx_block_prop .label {
    box-sizing: border-box;
    margin: 5px;
    width: calc(50% - 10px);
    float: left;
}

#order_form_div .label.left br {
    display: none;
}

#order_form_div .sale_order_table {
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#order_form_div .sale_order_table td {
    padding: 15px 0;
    background: none !important;
}

#order_form_div .sale_order_table .name {
    width: 190px;
    text-align: left;
    vertical-align: top;
}

#order_form_div .sale_order_table.props td {
    border-bottom: 1px solid #dcdfe2;
}

#order_form_div .sale_order_table input[type="text"],
#order_form_div .sale_order_table textarea {
    width: 365px;
}

#order_form_div .sale_order_table textarea {
    height: 70px;
    overflow: hidden;
    resize: none;
}

#order_form_div .sale_order_table .desc {
    color: #a3a3a3;
    font-size: 11px;
    margin: 3px 0;
}


/*paysystem*/

#order_form_div .sale_order_table.paysystem td {
    border-bottom: none;
}

#order_form_div .sale_order_table .ps_logo {
    float: left;
    text-align: center;
    margin: 0 15px 10px 0;
    height: 85px;
}

#order_form_div .sale_order_table .with_description {
    margin-right: 0 !important;
    height: 30px;
}

#order_form_div .sale_order_table .ps_logo img,
#order_form_div .sale_order_confirm img,
#order_form_div .account img {
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 2px 2px rgba(180, 188, 191, 0.5);
    padding: 1px;
    float: left;
}

div.bx_section div.bx_block div.bx_element input[type=radio],
div.bx_section div.bx_block div.bx_element input[type=checkbox],
#order_form_div .sale_order_table .ps_logo input[type=radio],
#order_form_div .account input[type=checkbox] {
    display: none;
}

#order_form_div .sale_order_table .paysystem_name,
#order_form_div .sale_order_confirm .paysystem_name {
    font-size: 11px;
    color: #a3a3a3;
    width: 95px;
    line-height: 11px;
    margin-top: 65px;
}

#order_form_div .account img,
#order_form_div .account .desc {
    float: left;
}

#order_form_div .account img {
    margin-right: 10px;
}

#order_form_div .account .name {
    font-weight: bold;
    margin-bottom: 3px;
    color: #000;
}

#order_form_div .account .desc {
    font-size: 11px;
    color: #a3a3a3;
    line-height: 11px;
    text-align: left;
    width: 80%;
}

#order_form_div .account .desc.width_limited {
    width: 100%;
}

#order_form_div .account .ps_logo.with_description {
    width: 100%;
}


/*delivery*/

#order_form_div .sale_order_table.delivery td {
    padding: 7px 0;
}

#order_form_div .sale_order_table.delivery .name {
    font-weight: bold;
    width: auto;
    color: #000;
}

#order_form_div .sale_order_table.delivery .desc {
    color: #a3a3a3;
    width: 400px;
}

#order_form_div .sale_order_table.delivery td table {
    width: auto;
}

#order_form_div .sale_order_table.delivery td table td {
    padding: 0;
    text-align: left;
}

#order_form_div .sale_order_table.delivery .prop img {
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    box-shadow: 2px 2px 2px rgba(180, 188, 191, 0.5);
    padding: 1px;
    margin: 0 10px 0 0;
}

#order_form_div .sale_order_table.delivery .prop input,
#order_form_div .sale_order_table.delivery .prop img,
#order_form_div .sale_order_table.delivery .prop .desc {
    float: left;
    margin-right: 10px;
}

#order_form_div .sale_order_table.delivery .prop input[type=radio] {
    display: none;
}


/*summary*/

#order_form_div .sale_data-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 10px;
}

#order_form_div .sale_data-table th {
    background-color: #f5f5f5;
    padding: 7px 13px;
    text-align: left;
    font-weight: normal;
}

#order_form_div .sale_data-table td {
    border-bottom: 1px solid #f5f5f5;
    padding: 7px 13px;
    text-align: left;
    background: none !important;
}

#order_form_div .sale_data-table td.price {
    white-space: nowrap;
    text-align: right;
}

#order_form_div .sale_data-table td.itog {
    text-align: right;
}

#order_form_div .sale_data-table tfoot td {
    border-bottom: none;
}

#order_form_div .sale_data-table tfoot tr.last td {
    border-top: 1px solid #f5f5f5;
    font-weight: bold;
    white-space: nowrap;
}

#order_form_div .order_comment {
    width: 100%;
}

#order_form_div .order_comment div {
    color: #a3a3a3;
    font-size: 12px;
    margin-bottom: 5px;
}

#order_form_div .order_comment textarea {
    width: 97%;
    height: 70px;
}


/* auth */

#order_form_div .order-auth {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#order_form_div .order-auth td {
    text-align: left;
    vertical-align: top;
}

#order_form_div .sale_order_table.delivery .errortext {
    margin: 0;
    font-size: 11px;
    padding: 5px;
    width: 230px;
}

#order_form_div .sale_order_full_table td.ps_logo {
    text-align: left;
    vertical-align: top;
}

#order_form_div .sale_order_full_table .ps_logo .pay_name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

#order_form_div .desc .ora-store {
    font-size: 12px;
}

.store_location {
    display: none;
}

.store_location .ora-store {
    width: 40%;
    float: left;
}

.store_location .ora-store table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.store_location .name {
    font-weight: bold;
}

.store_location .location {
    width: 60%;
    float: left;
}

#order_form_div .select_store {
    font-size: 12px;
}

.image {
    padding: 5px 0 5px 0;
}


/* new */

.bx_order_make {
    font-size: 15px;
}

.bx_order_make hr {
    border: none;
    border-bottom: 1px solid #dcdfe2;
}

.bx_order_make .bx_section,
.makeorder_content_left_pay {
    margin-bottom: 60px;
}

.bx_order_make .bx_section h4 {
    display: block;
    font-weight: 400;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #101010;
    color: #000;
}

.bx_block.r3x1 .bx_description {
    display: none;
}

.bx_section br {
    display: none;
}

.sale_order_props div:first-child {
    padding-top: 5px;
}

input.search-suggest {
    margin-top: 0 !important;
}

.bx_section_delivery {
    margin-bottom: 20px;
}

.makeorder_content_left_personal {
    margin-bottom: 60px;
}

.bx_order_make .bx_block input[type="text"],
.bx_order_make .bx_block textarea {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #c1c5c8;
    border-radius: 2px;
    background: #fff;
    color: #000;
    font-size: 14px;
    max-width: 400px
}

.bx_order_make .bx_sof_req {
    font-size: 15px;
    font-weight: 500;
    color: rgba(199, 31, 31, 1);
}

.search-popup {
    padding: 10px !important;
    max-height: 350px;
    overflow-y: auto;
    border: 2px solid #d3d3d3 !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    margin-top: 5px !important;
}

.search-popup>div {
    padding: 10px 5px !important;
    border-bottom: 1px solid #d3d3d3;
    font-size: 15px !important;
}

.bx_order_make .bx_description p {
    display: block;
    font-weight: 400;
    color: #808080;
}

.bx_ordercart .bx_ordercart_order_table_container tbody .right {
    text-align: right !important;
}

div#order_form_content div.bx_section div#sale_order_props div div.bx_block textarea {
    margin-bottom: 10px;
}

div#order_form_content .errortext {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px 10px 60px !important;
    border-top: 1px solid #E4CBD1;
    border-right: 1px solid #D5BABE;
    border-bottom: 1px solid #C9ABAF;
    border-left: 1px solid #D5BABE;
    border-radius: 5px;
    background: #F8EAED;
    background: url("images/alert.png") 10px 50% no-repeat, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod�EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: url("images/alert.png") 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8EAED), color-stop(100%, #EDD0D6));
    background: url("images/alert.png") 10px 50% no-repeat, -webkit-linear-gradient(top, #F8EAED 0%, #EDD0D6 100%);
    background: url("images/alert.png") 10px 50% no-repeat, -moz-linear-gradient(top, #f8eaed 0%, #edd0d6 100%);
    background: url("images/alert.png") 10px 50% no-repeat, -ms-linear-gradient(top, #f8eaed 0%, #edd0d6 100%);
    background: url("images/alert.png") 10px 50% no-repeat, -o-linear-gradient(top, #f8eaed 0%, #edd0d6 100%);
    background: url("images/alert.png") 10px 50% no-repeat, linear-gradient(to bottom, #F8EAED 0%, #EDD0D6 100%);
    box-shadow: inset 0 1px 1px 0 #FFF;
    color: #881521 !important;
    text-shadow: 0 1px 0 #FFF;
    font-weight: bold;
    font-size: 15px;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8eaed', endColorstr='#edd0d6', GradientType=0);
}

.section h4 {
    display: block;
    font-weight: 400;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #101010;
    color: #000;
}

.text_mobile {
    display: none;
}

#order_form_content {
    margin-top: 30px;
}

.block_OTHER_MEN .bx_block_prop:first-child,
.block_PODIEM .bx_block_prop:first-child,
.block_USTANOVKA .bx_block_prop:first-child,
.block_STRAHOVKA:first-child,
.block_OBRESHETKA:first-child {
    font-size: 18px;
    font-weight: 500;
}

.block_OTHER_MEN,
.block_PODIEM,
.block_USTANOVKA,
.block_STRAHOVKA,
.block_OBRESHETKA {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.block_USTANOVKA .bx_block_prop input[type="checkbox"],
.block_PODIEM .bx_block_prop input[type="checkbox"],
.block_OTHER_MEN .bx_block_prop input[type="checkbox"],
.block_STRAHOVKA .bx_block_prop input[type="checkbox"],
.block_OBRESHETKA .bx_block_prop input[type="checkbox"] {
    margin-left: 20px;
    position: relative;
    width: 65px;
    height: 40px;
    -webkit-appearance: none;
    background-color: #eef2f6;
    outline: none;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.block_USTANOVKA .bx_block_prop input:hover[type="checkbox"],
.block_PODIEM .bx_block_prop input:hover[type="checkbox"],
.block_OTHER_MEN .bx_block_prop input:hover[type="checkbox"],
.block_STRAHOVKA .bx_block_prop input:hover[type="checkbox"],
.block_OBRESHETKA .bx_block_prop input:hover[type="checkbox"] {
    background-color: #808080;
}

.block_USTANOVKA .bx_block_prop input:checked[type="checkbox"],
.block_PODIEM .bx_block_prop input:checked[type="checkbox"],
.block_OTHER_MEN .bx_block_prop input:checked[type="checkbox"],
.block_STRAHOVKA .bx_block_prop input:checked[type="checkbox"],
.block_OBRESHETKA .bx_block_prop input:checked[type="checkbox"] {
    background-color: #2fb457;
}

.block_USTANOVKA .bx_block_prop input[type="checkbox"]::before,
.block_PODIEM .bx_block_prop input[type="checkbox"]::before,
.block_OTHER_MEN .bx_block_prop input[type="checkbox"]::before,
.block_STRAHOVKA .bx_block_prop input[type="checkbox"]::before,
.block_OBRESHETKA .bx_block_prop input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(0.8);
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.block_USTANOVKA .bx_block_prop input:checked[type="checkbox"]::before,
.block_PODIEM .bx_block_prop input:checked[type="checkbox"]::before,
.block_OTHER_MEN .bx_block_prop input:checked[type="checkbox"]::before,
.block_STRAHOVKA .bx_block_prop input:checked[type="checkbox"]::before,
.block_OBRESHETKA .bx_block_prop input:checked[type="checkbox"]::before {
    left: 25px;
}

.poluchatel_wrap .label input[type="radio"],
.block_LIFT .bx_block_prop input[type="checkbox"],
.block_DELIVERY_TK_TYPE .bx_block_prop .label input[type="radio"] {
    display: none;
}

.poluchatel_wrap .label label {
    padding: 20px 10px 20px 40px !important;
}

.block_DELIVERY_TK_TYPE .bx_block_prop .label label {
    padding: 20px 10px 20px 40px !important;
    display: flex !important;
    align-items: center;
}

.poluchatel_wrap .label label,
.block_LIFT .bx_block_prop label,
.block_DELIVERY_TK_TYPE .bx_block_prop .label label {
    cursor: pointer;
    padding: 10px 10px 10px 40px;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    transition: 0.3s;
    overflow: hidden;
}

.poluchatel_wrap .label label:hover,
.block_LIFT .bx_block_prop label:hover,
.block_DELIVERY_TK_TYPE .bx_block_prop .label label:hover {
    border: 2px solid #808080;
}

.block_ETAJ .r3x1,
.block_ETAJ {
    max-width: 150px;
}

.block_LIFT {
    position: relative;
    max-width: 150px;
}

.block_LIFT .bx_block_prop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding-bottom: 0 !important;
    height: 52px;
}

.bx_block_prop_item block_ETAJ input {
    box-sizing: border-box;
    height: 52px !important;
}

.block_LIFT .bx_block_prop label {
    height: 52px;
    display: flex;
    align-items: center;
}

.poluchatel_wrap .label label::before,
.block_LIFT .bx_block_prop label::before,
.block_DELIVERY_TK_TYPE .bx_block_prop .label label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 5px solid #d8d8d8;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.poluchatel_wrap .label label:hover:before,
.block_LIFT .bx_block_prop label:hover::before,
.block_DELIVERY_TK_TYPE .bx_block_prop .label label:hover:before {
    border: 5px solid #808080;
}

.poluchatel_wrap .label input[type="radio"]:checked+label,
.block_LIFT .bx_block_prop input[type="checkbox"]:checked+label,
.block_DELIVERY_TK_TYPE .bx_block_prop .label input[type="radio"]:checked+label {
    border: 2px solid #2fb457;
}

.poluchatel_wrap .label input[type="radio"]:checked+label::before,
.block_LIFT .bx_block_prop input[type="checkbox"]:checked+label::before,
.block_DELIVERY_TK_TYPE .bx_block_prop .label input[type="radio"]:checked+label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 5px solid #2fb457;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
}

.bx_section_delivery .bx_block {
    margin: 5px;
    float: left;
    width: calc(50% - 10px)
}

.bx_section_delivery .bx_block .bx_element input[type="radio"] {
    display: none;
}

.bx_section_delivery .bx_block .bx_element label {
    padding: 10px;
    border: 2px solid #d3d3d3;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    transition: 0.3s;
    margin-bottom: 10px;
    height: 190px;
    transition: 0.3s;
}

.bx_section_delivery .bx_block .bx_element label:hover {
    border: 2px solid #808080;
}

.bx_section_delivery .bx_block .bx_element label .bx_logotype span {
    box-sizing: border-box;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    transition: 0.3s;
}

.bx_section_delivery .bx_block .bx_element label:hover .bx_logotype span {
    border: 2px solid #808080;
}

.bx_section_delivery .bx_block .bx_element label .bx_description .name strong {
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding: 10px 0;
}

.bx_section_delivery .bx_block .bx_element label .bx_description .bx_result_price b {
    font-weight: 500;
}

.bx_section_delivery .bx_block .bx_element label .bx_description>p {
    padding-top: 10px;
}

.bx_section_delivery .bx_block .bx_element input:checked[type="radio"]+label {
    border: 2px solid #2fb457;
}

.bx_section_delivery .bx_block .bx_element input:checked[type="radio"]+label .bx_logotype span {
    border: 2px solid #2fb457;
}

.bx_pay_wrap {
    width: 100%;
}

.bx_pay_wrap .bx_block .bx_element input[type="radio"] {
    display: none;
}

.bx_pay_wrap .bx_block .bx_element label {
    padding: 15px 10px 15px 50px;
    border: 2px solid #d3d3d3;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    transition: 0.3s;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
}

.bx_pay_wrap .bx_block .bx_element label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 5px solid #d8d8d8;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 15px;
    top: 15px;
    transition: 0.3s;
}

.bx_pay_wrap .bx_block .bx_element label:hover {
    border: 2px solid #808080;
}

.bx_pay_wrap .bx_block .bx_element label:hover:before {
    border: 5px solid #808080;
}

.bx_pay_wrap .bx_block .bx_element input:checked[type="radio"]+label::before {
    border: 5px solid #2fb457;
}

.bx_pay_wrap .bx_block .bx_element input:checked[type="radio"]+label {
    border: 2px solid #2fb457;
}

.bx_pay_wrap .bx_block .bx_element label .bx_description {
    font-size: 16px;
    font-weight: 500;
}

.bx_pay_wrap .bx_block .bx_element label .bx_description p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 2px;
    background-color: #cd5c5c;
    display: inline-block;
    padding: 2px 4px;
    width: auto;
    border-radius: 5px;
}

@media(max-width:550px) {
    .bx_section_delivery .bx_block {
        margin: 5px;
        float: left;
        width: calc(100% - 10px)
    }
    .bx_section_delivery .bx_block .bx_element label {
        height: 160px;
    }
}

@media(max-width:450px) {
    .bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto {
        width: 60px !important;
    }
    .bx_ordercart_photo_container img {
        max-width: 100%;
    }
    .text_pc {
        display: none;
    }
    .text_mobile {
        display: block;
        text-align: left !important;
        padding-left: 10px;
    }
}

.podiem_calc {
    padding: 15px 0 0 0;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

.summary_podiem_item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    padding: 5px;
    box-sizing: border-box;
}

.summary_podiem_item_left {
    font-size: 15px;
    font-weight: 500;
    padding-right: 20px;
    flex-grow: 1;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.summary_podiem_item_left .quantity_row {
    font-weight: 400;
    color: #808080;
}

.summary_podiem_item_right {
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}

.summary_podiem_itogo {
    text-align: right;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    box-sizing: border-box;
}

.summary_podiem_itogo span {
    padding-left: 5px;
}

.block_DATE .bx_block_prop select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background-image: none;
    background-color: #eef2f6;
    padding: 0 10px;
    cursor: pointer;
    color: #000;
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.block_DATE .bx_block_prop select::-ms-expand {
    display: none;
}

.block_DATE .r3x1 {
    display: flex;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-color: #eef2f6;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
}

.block_DATE .r3x1::after {
    content: "\25BC";
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    color: #808080;
    border-radius: 5px;
    transform: scale(0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    pointer-events: none;
    transition: 0.3s all ease;
    font-size: 20px;
}

.block_DATE .r3x1:hover:after {
    color: #fff;
    background-color: #808080;
}

.summary_delivery_item {
    display: flex;
    justify-content: space-between;
}

.summary_delivery_item.summary_delivery_item_info {
    display: inline-block;
}

.summary_delivery_item.summary_delivery_item_info::before {
    display: none;
}

.summary_delivery_item.summary_delivery_item_info .summary_delivery_item_all {
    margin-bottom: 10px;
    padding: 0 5px 5px 5px;
    color: #808080;
}

.summary_delivery_item::before {
    content: "";
    width: 100%;
    height: 5px;
    border-bottom: 1px dotted #808080;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.summary_delivery_item.summary_delivery_item_info_ustanovka::before {
    display: none;
}

.summary_delivery_item .summary_delivery_item_left {
    padding: 0 2px 0 5px;
    background-color: #fff;
    max-width: 60%;
}

.summary_delivery_item .summary_delivery_item_right {
    padding: 0 5px 0 2px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
}

.summary_delivery_item:last-child {
    margin-top: 20px;
    padding: 0 0 0 40px;
    color: #808080;
}

.summary_delivery_item:last-child:before {
    content: "i";
    width: 20px;
    text-align: center;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #808080;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 5px;
    line-height: 20px;
    border-radius: 50%;
}