.main_menu {
    max-width: 1030px;
    align-content: stretch;
    height: 475px;
}

.menu_items {
    align-content: stretch;
    width: 80%;
    background: #fff;
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0 20px 20px 0;
}

.menu_items.hide {
    display: none !important;
}

.main_menu .li_menu_header {
    padding: 5px 20px 5px 15px;
}

.main_menu {
    background: initial !important;
}

.li_menu_header.link_js .fa-angle-right {
    color: #9C9C9C;
    padding-right: 0px !important;
}

.li_menu_header.link_js {
    width: 100%;
}

.parent_category {
    flex-grow: 1;
}