.carousel-item-elems.rounded-lg img {
    max-height: 500px;
    border-radius: 0.5rem;
}

.max-h-64 .carousel-item-elems.rounded-lg img {
    max-height: 16rem;
    width: 100%;
    border-radius: 0.5rem;
}

html:not(.dark) .swiper-pagination-bullet-active {
    background: #313131;
}

html.dark .swiper-pagination-bullet-active {
    background: white;
}

html:not(.dark) .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: #f0f0f0;
}

html.dark .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: #555555;
    opacity: 1;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.box_with_banner_dop .carousel-item-elems a {
    max-height: 550px
}

.box_with_banner_dop .carousel-item-elems a img {
    max-height: inherit;
    object-fit: cover;
}

.slick-dots li button:before {
    font-size: 12px;
}

html.dark .slick-dots li button:before{
    color:#555555;
    opacity: 1;
}

html:not(.dark) .slick-dots li.slick-active button:before {
    color: #cd1f1e;
}

html.dark .slick-dots li.slick-active button:before {
    color: white;
}

@media (max-width: 768px) {
    .item-mobile-none {
        display: none !important;
    }

    .slick-dots {
        bottom: -16px;
    }

    .slick-dots li button:before {
        font-size: 11px;
    }

    .slick-dots li button {
        padding: 2px;
    }

    .slick-dots li {
        margin: 0;
    }
}

.carousel-inner-main img{
    border-radius: 2rem;
    max-height: 500px;
}