.icon_like, .box_with_like {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.icon_like, .product-item__favorite-star {
    transition: 0.3s;
    text-decoration: none;
}

.icon_like:hover {
    transition: 0.3s;
    color: red;
}

.icon_like, .product-item__favorite-star {
    color: black;
}

.icon_like {
    font-size: 24px;
}

.product-item__favorite-star {
    font-size: 25px;
}
@media (min-width: 320px) and (max-width: 800px){
    .icon_like ,.product-item__favorite-star {
        font-size: 20px;
    }
}
