/* Left menu*/

#personal_orders_bar.collapse:not(.show) {
    display: none !important;

}

#personal_orders_bar.collapsing {
    height: auto !important;
}

#personal_orders_bar, div.left-menu, .box_with_photo, .personal_hide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_with_photo {
    margin-bottom: 1rem;
}

.box_photo {
    background-image: url('/upload/iblock/images/logo_people.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

div.left-menu a#profile_people {
    padding: 10px 6px 2px 6px;
}

div.left-menu a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 6px;
    transition: 0.3s;
}

div.left-menu a.edit_profile {
    font-size: 11px;
    font-weight: 400;
    padding: 0 6px;
}

div#personal_orders_bar > a.link_lk_mini {
    font-size: 13px;
    font-weight: lighter;
}

div.left-menu a:hover, .close_session {
    color: #f55f5c;
    transition: 0.3s;
}

@media (min-width: 320px) and (max-width: 800px) {
    div.left-menu {
        background-color: white;
    }
}


