.box_photo {
    background-image: url('/local/templates/Oshisha/images/logo_people.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
