h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 110.4%;

/* identical to box height, or 53px */

color: #000000;	
}
.news-detail-img img{
	max-width:100%;
	width:100%;
}
.bx-red{
	margin:0 !important;
}
.products_box{
	margin-left:0px !important;
}