@tailwind base;
@tailwind components;
@tailwind utilities;

*, h1, h2, h3, h4, h5, div, span, p, body, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

@font-face {
    font-display: swap;
}

input:focus, button:focus, [type='text']:focus, [type="password"]:focus, [type="checkbox"]:focus, [type="checkbox"]:hover {
    outline: none;
    box-shadow: none;
}