@tailwind base;
@tailwind components;
@tailwind utilities;

*, h1, h2, h3, h4, h5, div, span, p, body, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

a, input, button, svg {
    cursor: pointer;
}

@font-face {
    font-display: swap;
}

input:focus, button:focus, [type='text']:focus, [type="password"]:focus, [type="checkbox"]:focus, [type="checkbox"]:hover {
    outline: none;
    box-shadow: none;
}

[type="radio"]:focus, [type="radio"]:hover, [type='radio']:checked:hover {
    background-color: transparent;
}

/* OSHISHA_BUTTONS */

.form-check-input:checked[type="radio"] {
    background-image: url('/local/templates/Oshisha/images/radio.png');
    background-color: white;
}

.form-check-input[type="radio"] {
    background-image: url('/local/templates/Oshisha/images/radio_not_active.png');
    background-size: contain;
    border: none;
}

/* SCROLL */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

html:not(.dark) ::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #464646;
}
/* LOADER */

.loader {
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 17px;
    height: 17px;
    perspective: 800px;
}

.inner {
    border-radius: 50%;
}

.inner.three, .inner.two {
    right: 0;
}

.inner.three, .inner.two, .inner.one {
    border-bottom: 2px solid #ffffff;
}

.inner.one, .inner.two {
    top: 0;
}

.inner.one {
    left: 0;
    animation: rotate-one 1s linear infinite;
}

.inner.two {
    animation: rotate-two 1.3s linear infinite;
}

.inner.three {
    bottom: 0;
    animation: rotate-three 1.5s linear infinite;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* MODALS */

.box-modal {
    box-shadow: 0 1px 8px 0 rgba(85, 85, 85, 0.02);
}

html.dark .box-modal {
    background-color: #313131;
}

html.dark input:-webkit-autofill, html.dark input:-webkit-autofill:hover, html.dark input:-webkit-autofill:focus,
html.dark textarea:-webkit-autofill, html.dark textarea:-webkit-autofill:hover, html.dark textarea:-webkit-autofill:focus,
html.dark select:-webkit-autofill, html.dark select:-webkit-autofill:hover, html.dark select:-webkit-autofill:focus {
    border: 2px solid #464646;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px #464646 inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #f0f0f0;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
    transition: background-color 5000s ease-in-out 0s;
}