html.dark .bxhtmled-toolbar-cnt, html.dark .blog-comment-cont-white {
    background-color: #313131 !important;
}

.blog-comment-cont-white {
    padding: 1rem!important;
    background-color: #f0f0f0;
}

html.dark .bxhtmled-toolbar-cnt {
    border-bottom: 1px solid gray;
}

.bxhtmled-toolbar-cnt {
    border-radius: 10px 10px 0 0;
    background-color: #F0F0F0;
}

html.dark .bxhtmled-top-bar-btn i {
    filter: invert(1) contrast(5);
}

div.blog-comment-buttons {
    margin: 0 !important;
    padding: 0 !important;
}

.bxhtmled-iframe-cnt {
    width: 100% !important;
    font-size: 15px;
}

div.blog-errors {
    color: red;
}

div.blog-textinfo {

    color: green;
}

div.blog-textinfo, div.blog-errors {
    border: none;
    margin-right: 0;
    margin-left: 0;
    background-color: transparent;
}

.blog-author{
    font-weight: 500;
}