 /* catalog.top */
.bx_catalog_tile_home_type_2 {
    position: relative;
    margin-bottom: 20px;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slide {
    top: 0;
    right: 0;
    left: 0;
    z-index: 800;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slide.active {
    opacity: 0;
    -webkit-animation: nextslide 0.9s;
    animation: nextslide 0.9s;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slide.notactive {
    opacity: 1;
    -webkit-animation: prevslide 0.9s;
    animation: prevslide 0.9s;
}

@-webkit-keyframes prevslide {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes prevslide {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes nextslide {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes nextslide {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slide.notactive,
.bx_catalog_tile_home_type_2 .bx_catalog_tile_slide {
    display: none;
    opacity: 0;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slide.active {
    display: flex;
    justify-content: center;
    opacity: 1;
}


.bx_catalog_tile_home_type_2 .bx_catalog_item {
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.bx_catalog_tile_home_type_2 .bx_catalog_item:nth-child(4n+1) {
    clear: both;
}

@media (max-width: 640px) {
    .bx_catalog_tile_home_type_2 .bx_catalog_item:nth-child(4n+1) {
        clear: none;
    }

    .bx_catalog_tile_home_type_2 .bx_catalog_item:nth-child(3n+1) {
        clear: both;
    }
}

@media (max-width: 479px) {
    .bx-touch .bx_catalog_tile_home_type_2 .bx_catalog_item:nth-child(4n+1) {
        clear: none;
    }

    .bx-touch .bx_catalog_tile_home_type_2 .bx_catalog_item:nth-child(3n+1) {
        clear: none;
    }

    .bx-touch .bx_catalog_tile_home_type_2 .bx_catalog_item:nth-child(2n+1) {
        clear: both;
    }
}


@media (min-width: 960px) {
    .bx_catalog_tile_home_type_2.col1 .bx_catalog_item {
        padding: 1px 26px;
        width: 100%
    }

    .bx_catalog_tile_home_type_2.col2 .bx_catalog_item {
        padding: 1px 26px;
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .bx_catalog_tile_home_type_2.col2 .bx_catalog_item:nth-child(2n+1) {
        clear: both;
        width:25%;
    }

    .bx_catalog_tile_home_type_2.col3 .bx_catalog_item {
        padding: 1px 26px;
        width: 33.333333%
    }

    .bx_catalog_tile_home_type_2.col3 .bx_catalog_item:nth-child(3n+1) {
        clear: both
    }

    .bx_catalog_tile_home_type_2.col4 .bx_catalog_item {
        width: 320px;
    }

    .bx_catalog_tile_home_type_2.col4 .bx_catalog_item:nth-child(4n+1) {
        clear: both
    }

}

@media (min-width: 760px) and (max-width: 960px) {
    .bx_catalog_tile_home_type_2.col1 .bx_catalog_item {
        padding: 1px 16px;
        width: 100%
    }

    .bx_catalog_tile_home_type_2.col2 .bx_catalog_item {
        margin: 0 10px;
        width: 25%;
    }

    .bx_catalog_tile_home_type_2.col2 .bx_catalog_item:nth-child(2n+1) {
        clear: both;
        width:25%;
    }

    .bx_catalog_tile_home_type_2.col3 .bx_catalog_item {
        padding: 1px 16px;
        width: 33.333333%
    }

    .bx_catalog_tile_home_type_2.col3 .bx_catalog_item:nth-child(3n+1) {
        clear: both
    }

    .bx_catalog_tile_home_type_2.col4 .bx_catalog_item,
    .bx_catalog_tile_home_type_2.col5 .bx_catalog_item {
        width: 320px;
    }

    .bx_catalog_tile_home_type_2.col4 .bx_catalog_item:nth-child(4n+1) {
        clear: both
    }
}

@media (max-width: 760px) {
    .bx_catalog_tile_home_type_2.col2 .bx_catalog_item {
        padding: 1px 16px;
        width: 100%
    }

    .bx_catalog_tile_home_type_2.col2 .bx_catalog_item:nth-child(2n+1) {
        clear: both
    }

    .bx_catalog_tile_home_type_2.col3 .bx_catalog_item {
        padding: 1px 16px;
        width: 33.333333%
    }

    .bx_catalog_tile_home_type_2.col3 .bx_catalog_item:nth-child(3n+1) {
        clear: both
    }


    .bx_catalog_tile_home_type_2.col3 .bx_catalog_item:nth-child(3n+1),
    .bx_catalog_tile_home_type_2.col4 .bx_catalog_item:nth-child(3n+1) {
        clear: both
    }
}

@media (max-width: 580px) {
    .bx-touch .bx_catalog_tile_home_type_2.col1 .bx_catalog_item {
        padding: 1px 26px;
        width: 100%
    }

    .bx-touch .bx_catalog_tile_home_type_2.col2 .bx_catalog_item {
        padding: 1px 16px;
        width: 100%
    }

    .bx-touch .bx_catalog_tile_home_type_2.col2 .bx_catalog_item:nth-child(3n+1) {
        clear: none
    }

    .bx-touch .bx_catalog_tile_home_type_2.col2 .bx_catalog_item:nth-child(2n+1) {
        clear: both
    }

    .bx-touch .bx_catalog_tile_home_type_2.col2 .bx_catalog_item,
    .bx-touch .bx_catalog_tile_home_type_2.col3 .bx_catalog_item,
    .bx-touch .bx_catalog_tile_home_type_2.col4 .bx_catalog_item,
    .bx-touch .bx_catalog_tile_home_type_2.col5 .bx_catalog_item {
        width: 100%;
        clear: none
    }

    .bx-touch .bx_catalog_tile_home_type_2.col2 .bx_catalog_item:nth-child(2n+1),
    .bx-touch .bx_catalog_tile_home_type_2.col3 .bx_catalog_item:nth-child(2n+1),
    .bx-touch .bx_catalog_tile_home_type_2.col4 .bx_catalog_item:nth-child(2n+1) {
        clear: both
    }
}

/*.bx_catalog_tile_home_type_2 .bx_catalog_item .bx_catalog_item_container {*/
/*    border-radius: 10px;*/
/*    border: 1px solid #E5E5E5;*/
/*    -webkit-animation: borderview 0.5s;*/
/*    animation: borderview 0.5s;*/
/*    min-height: 400px;*/
/*    height:400px;*/
/*    display: flex;*/
/*    width: 260px;*/
/*    justify-content: space-between;*/
/*    flex-direction: column;*/
/*}*/


@keyframes borderview {
    from {
        border: 1px solid #fdfdfd;
    }
    to {
        border: 1px solid #d3d3d3;
    }
}

@-webkit-keyframes borderview {
    from {
        border: 1px solid #fdfdfd;
    }
    to {
        border: 1px solid #d3d3d3;
    }
}

.bx_catalog_tile_home_type_2 .bx_catalog_item_articul {
    color: #404040;
    font-size: 10px;
}


.box_with_titles {
    display: flex;
    flex-direction: row;
}

.bx_catalog_tile_home_type_2 a.bx_catalog_item_title {
    color: #3f3f3f;
    text-decoration: none;
    font-size: 13px;
}

.box_with_price {
    width: 85%;
    display: flex;
    flex-direction: column;
}


.bx_catalog_tile_home_type_2 .bx_catalog_item_price {
    color: #3f3f3f;
    font-weight: bold;
    margin-top: 20px;
}

.bx_catalog_tile_home_type_2 .bx_catalog_item_price span {
    color: #a5a5a5;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: line-through;
}


@keyframes rotateimgfirst {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes rotateimgfirst {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rotateimglast {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes rotateimglast {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.bx_catalog_tile_home_type_2 .bx_catalog_item .bx_catalog_item_scu {
    padding-top: 10px
}


/* Stickers */
.bx_catalog_tile_home_type_2 .bx_stick {
    position: absolute;
    width: 123px;
    height: 35px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #ba3434;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.bx_catalog_tile_home_type_2 .bx_stick.short {
    font-weight: bold;
    font-size: 18px
}

.bx_catalog_tile_home_type_2 .bx_stick.average {
    font-weight: bold;
    font-size: 13px
}

.bx_catalog_tile_home_type_2 .bx_stick.long {
    font-weight: normal;
    font-size: 11px
}

.bx_catalog_tile_home_type_2 .bx_stick_disc {
    position: absolute;
    width: 72px;
    height: 74px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #ba3434;
    font-weight: bold;
    font-size: 23px;
    line-height: 74px;
}

.bx_catalog_tile_home_type_2 .bx_stick.left,
.bx_catalog_tile_home_type_2 .bx_stick_disc.left {
    left: -2px;
}

.bx_catalog_tile_home_type_2 .bx_stick.right,
.bx_catalog_tile_home_type_2 .bx_stick_disc.right {
    right: 0;
}

.bx_catalog_tile_home_type_2 .bx_stick.top,
.bx_catalog_tile_home_type_2 .bx_stick_disc.top {
    top: 15px;
}

.bx_catalog_tile_home_type_2 .bx_stick.bottom,
.bx_catalog_tile_home_type_2 .bx_stick_disc.bottom {
    bottom: 5px;
}

.bx_catalog_tile_home_type_2 .bx_stick.middle,
.bx_catalog_tile_home_type_2 .bx_stick_disc.middle {
    top: 49%;
}

@media (min-width: 641px) and (max-width: 960px) {
    .bx_catalog_tile_home_type_2 .bx_stick {
        width: 90px;
        height: 30px;
        background-size: 100%;
        line-height: 30px;
    }

    .bx_catalog_tile_home_type_2 .bx_stick.short {
        font-weight: normal;
        font-size: 14px
    }

    .bx_catalog_tile_home_type_2 .bx_stick.average {
        font-weight: normal;
        font-size: 11px
    }

    .bx_catalog_tile_home_type_2 .bx_stick.long {
        font-weight: normal;
        font-size: 11px
    }

    .bx_catalog_tile_home_type_2 .bx_stick_disc {
        width: 64px;
        height: 65px;
        background-size: 100%;
        font-size: 20px;
        line-height: 65px;
    }
}

@media (max-width: 640px) {
    .bx-touch .bx_catalog_tile_home_type_2 .bx_stick {
        width: 70px;
        height: 30px;
        background-size: 100%;
        font-size: 11px;
        line-height: 30px;
    }

    .bx-touch .bx_catalog_tile_home_type_2 .bx_stick_disc {
        width: 48px;
        height: 49px;
        background-size: 100%;
        font-size: 16px;
        line-height: 49px;
    }
}

@media (max-width: 479px) {
    .bx-touch .bx_catalog_tile_home_type_2 .bx_stick {
        width: 70px;
        height: 30px;
        background-size: 100%;
        font-size: 11px;
        line-height: 30px;
    }

    .bx-touch .bx_catalog_tile_home_type_2 .bx_stick_disc {
        width: 37px;
        height: 38px;
        background-size: 100%;
        font-size: 13px;
        line-height: 38px;
    }
}

/* buttons */
.bx_catalog_tile_home_type_2 .bx_bt_button_type_2 {
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.bx_catalog_tile_home_type_2 .bx_bt_button_type_2 {
    border: 1px solid #e9e9e9;
    color: #656565;
}

.bx_catalog_tile_home_type_2 .bx_small.bx_bt_button_type_2 {
    display: inline-block;
    min-width: 20px;
    line-height: 20px;
}

.bx_catalog_tile_home_type_2 .bx_medium.bx_bt_button_type_2 {
    padding: 0 13px;
    height: 25px;
    font-weight: bold;
    line-height: 25px;
}

.bx_catalog_tile_home_type_2 .bx_medium.bx_bt_button_type_2 {
    font-weight: bold;
}

.bx_catalog_tile_home_type_2 .bx_col_input {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slider_arrow_left,
.bx_catalog_tile_home_type_2 .bx_catalog_tile_slider_arrow_right {
    background-color: #F55F5C;
    color: white;
    padding: 6px 17px;
    border-radius: 25px;
    position: absolute;
    z-index: 2000;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(57, 57, 57, 0.13));
    top: 43%;
    transition: 0.3s;
}

.bx_catalog_tile_slider_arrow_right {
    right: 0;
}

.bx_catalog_tile_slider_arrow_right > i, .bx_catalog_tile_slider_arrow_left > i {
    font-size: 30px;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slider_arrow_left {
    left: 0;
}

.bx_catalog_tile_slider_arrow_right:hover, .bx_catalog_tile_slider_arrow_left:hover {
    background-color: white;
    transition: 0.3s;
    color: black;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slider_pagination {
    bottom: 5%;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slider_pagination li {
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    width: 14px;
    height: 20px;
}

.bx_catalog_tile_home_type_2 .bx_catalog_tile_slider_pagination li span {
    display: block;
    width: 14px;
    height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.bx_catalog_tile_home_type_2 .bx_medium.bx_bt_button {
    padding: 0 13px;
    height: 25px;
    font-weight: bold;
    line-height: 25px;
}

.bx_catalog_tile_home_type_2 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 5rem 0;
}

/* scu_detail_size */
.bx_catalog_tile_home_type_2 .bx_item_detail_size {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_size.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%;
}

/*----*/

.bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_item_section_name_gray {
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*----*/

.bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_size_scroller_container {
    position: relative
}

.bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_size {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.bx_catalog_tile_home_type_2 .bx_item_detail_size ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}

.bx-touch .bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_size {
    overflow-x: auto;
}

.bx_catalog_tile_home_type_2 .bx_item_detail_size ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}

.bx-touch .bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_size ul {
    margin-left: 0 !important;
}

.bx_catalog_tile_home_type_2 .bx_item_detail_size ul li {
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
}

.bx_catalog_tile_home_type_2 .bx_item_detail_size ul li .cnt {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 2px;
    left: 2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
}


.bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_size ul li.bx_missing .cnt {
    border: 1px solid #c0cfda !important
}

.bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_size ul li.bx_missing > i {
    cursor: not-allowed;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    bottom: 2px;
    left: 2px;
    z-index: 11;

}

/*----*/

.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_slide_left,
.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_slide_right {
    opacity: 0.8
}

.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_slide_left:hover,
.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_size .bx_slide_right:hover {
    opacity: 1.0
}

.bx_catalog_tile_home_type_2 .bx_item_detail_size.full .bx_slide_left,
.bx_catalog_tile_home_type_2 .bx_item_detail_size.full .bx_slide_right {
    position: absolute;
    top: 0;
    bottom: 4px;
    width: 5%;
    max-width: 11px;
    cursor: pointer;
}

/* scu_detail_scu */
.bx_catalog_tile_home_type_2 .bx_item_detail_scu {
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_scu.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%
}

/*----*/

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_item_section_name_gray {
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
}

/*----*/

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu_scroller_container {
    position: relative
}

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.bx-touch .bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu {
    overflow-x: auto
}

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap
}

.bx-touch .bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu ul {
    margin-left: 0 !important
}

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu ul li {
    position: relative;
    display: block;
    float: left;
    height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu ul li .cnt {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 4px;
    left: 2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
    z-index: 10;
}

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu ul li.bx_missing > i {
    cursor: not-allowed;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    bottom: 4px;
    left: 2px;
    z-index: 11;

}


.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item {
    position: absolute;
    top: 6%;
    right: 6%;
    bottom: 6%;
    left: 6%;
    background-size: contain;
    background-repeat: no-repeat;
}

.bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item img {
    width: auto;
    height: 25px;
}

/*----*/

.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_slide_left,
.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_slide_right {
    opacity: 0.8
}

.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_slide_left:hover,
.bx-no-touch .bx_catalog_tile_home_type_2 .bx_item_detail_scu .bx_slide_right:hover {
    opacity: 1.0
}

.bx_catalog_tile_home_type_2 .bx_item_detail_scu.full .bx_slide_left,
.bx_catalog_tile_home_type_2 .bx_item_detail_scu.full .bx_slide_right {
    position: absolute;
    top: 0;
    bottom: 4px;
    width: 5%;
    max-width: 11px;
    cursor: pointer;
}
